---
import HomeRefresh from "../components/home/HomeRefresh.astro";
import LandingFooter from "../components/home/LandingFooter.astro";
import LandingNav from "../components/home/LandingNav.astro";
import Layout from "../layouts/Layout.astro";
import {
  homeSeo,
  homeStructuredData,
  homeVersion,
  navLinks,
} from "../data/home";
---

<Layout
  title={homeSeo.title}
  description={homeSeo.description}
  image={homeSeo.image}
  keywords={homeSeo.keywords}
  jsonLd={homeStructuredData}
>
  <LandingNav links={navLinks} />
  <main>
    <HomeRefresh />
  </main>
  <LandingFooter version={homeVersion} />
</Layout>

<style>
  :global(body) {
    background: var(--op-paper);
  }
</style>
